*{
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

#login{
    background-image: url(../img/loginFondo.jpg);
    background-size: cover;
    background-position: center;
    /* background-size: 1000% 100%; */
}
#bg{
    background-image: url(../img/loginFondo.jpg);
    background-size: cover;
}
#form-container{
    padding: 2%;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    background-color: #487882;
    text-align: center;
    color: white;
    margin-top: 10%;
    -webkit-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 14px 8px rgba(0,0,0,0.4);
    opacity: 80%;
    /* height: 60vh; */
}
.loginInput{
    width: 70%;
    font-size: 20px;
    border-style:solid;
    border-color: black;
}
.logininput:focus{
    border-width: 1em;
    border-color: white;
}
#loginBtn{
    max-width: 20%;
    font-size: 20px;
}
#reservasContainer{
    margin: auto;
    width: 62%;
    height: 81vh;
    margin-right: 5%;
    background-image: url("../img/Restaurante.png");
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
}
/* Home */
#userTitulo{
    color:white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
/* Boton logout y volver */
.logout {
    transition: all .2s ease-out;
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  .logout:hover,
  .logout:active {
    transition: all .2s ease-out;
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
    background-color: white;
    opacity: 80%;
  }
  
  .logout:active {
    transition: all .2s ease-out;
    opacity: .5;
  }
  .btnS{
    font-size: 12px;
  }
  .btnS2{
    font-size: 9px;
  }
/* Botón registros */
.regBtn {
    transition: all .2s ease-out;
    background: #487882;
    border: 1px solid #487882;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-shadow:none;
  }
  .regBtn:hover,
  .regBtn:active {
    transition: all .2s ease-out;
    background-color: initial;
    background-position: 0 0;
    color: #487882;
    background-color: white;
    opacity: 80%;
  }
  
  .regBtn:active {
    transition: all .2s ease-out;
    opacity: .5;
  }

  .regBtn2 {
    background: #09bd6c;
    border: 1px solid #09bd6c;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-shadow:none;
    transition: all .2s ease-out;
  }
  .regBtn2 a {
    transition: all .2s ease-out;
    color: white;
    font-size: 12px;
  }
  .regBtn2:hover a{
    transition: all .2s ease-out;
    color: #09bd6c;
  }
  .regBtn2:hover,
  .regBtn2:active {
    background-color: initial;
    background-position: 0 0;
    color: #09bd6c;
    background-color: white;
    opacity: 80%;
    transition: all .2s ease-out;
  }
  .regBtn2:active {
    opacity: .5;
    transition: all .2s ease-out;
  }

/* Caja de texto */
.InfoContainer{
    background-color:beige;
    float: left;
    margin-top: 8%;
    height: 50vh;
    width: 30%;
    margin-left: 2%;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 35px 6px rgba(122, 122, 109, 0.75);
    -webkit-box-shadow: inset 0px 0px 15px 7px rgba(122, 122, 109, 0.75);
    -moz-box-shadow: inset 0px 0px 15px 7px rgba(122, 122, 109, 0.75);
    box-shadow: inset 0px 0px 15px 7px rgba(122, 122, 109, 0.75);
}
#infoTitulo{
    text-align: center;
    margin-bottom: 0%;
}
#disp{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 12%;
}
.text-Center{
    text-align: center;
    margin-top: 5%;
}

.infoMesa{
    margin-bottom: 50%;
    font-size: 25px;
    font-weight: bolder;
}


.csvBtn{
    float: right;
}
.imgSize{
    width: 10%;
}
.mesaOcupada{
    filter: hue-rotate(250deg);
    /* filter: brightness(50%); */
}
.mesaIcon{
    width: 100%;
}
.mesa-btn{
    width: 100%;
    border: none;
    background:none;
    cursor: pointer;
}
.silla-btn{
    width: 100%;
    border: none;
    background:none;
    cursor: pointer;
    position: fixed;
    left: 0%;
    top: 69.2%;
}
/* .mesa-btn:focus{
    background-color: red;
} */
.mesaContainer{
    width: 7%;
    /* position: fixed; */
}
/* Posicón de las mesas */
.mesa1{
    position: fixed;
    left: 59%;
    top: 70%;
}
.mesa2{
    position: fixed;
    left: 72%;
    top: 42%;
}
.mesa3{
    width: 7%;
    position: fixed;
    left: 67%;
    top: 16%;
}
.mesa4{
    position: fixed;
    left: 54%;
    top: 42%;
    width: 7%;
}
.mesa5{
    position: fixed;
    left: 49%;
    top: 16.5%;
}
.mesa6{
    position: fixed;
    left: 58.5%;
    top: 16%;
    width: 7%;
}
.mesa7{
    position: fixed;
    left: 86%;
    top: 55%;
    width: 7%;
}
.mesa8{
    position: fixed;
    left: 78%;
    top: 16%;
    width: 7%;
}
.mesa9{
    position: fixed;
    left: 41.5%;
    top: 40%;
}
.mesa10{
    position: fixed;
    left: 41.5%;
    top: 56%;
}
/* historico */
/* -------------------------------------------------- */
.tabla {
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-y: scroll;
    border-width: 2px;
    border-style: solid;
}

.tabla table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }

#registro {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#Tabla{
    width: 100%;
    border-collapse: collapse;
    text-align: center;

}


#Cabecera{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #487882;;
color: white;
text-align: center;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
table, th, td {
    border: 1px solid;
    border-color: rgb(202, 202, 202);
}
#csvIcon{
    margin-top: 1%;
    width: 3%;
    float: right;
    margin-bottom: .5%;
    transition: .5s;
}
#csvIcon:hover{
    filter: brightness(80%);
}
#btnUsr{
    width: 2%;
    float: right;
    border-style: solid;
    border-width: 3px;
    padding: .3%;
    border-radius: 12px;
    border-color: #487882;
    transition: all .2s ease-out;
}
#btnUsr:hover{
    transition: all .2s ease-out;
    background-color: #487882;
    border-color: black;
}
#btnUsr img{
    width: 100%;
}

#btnUsr:hover img{
    transition: all .2s ease-out;
    filter: brightness(1000%);
}

.modMesa{
    position:fixed;
    top: 20%;
    left: 40%;
    width: 30%;
    height: 60vh;
    background-color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #000000;
    display:none;
}

.mesaModForm{
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
#mod_img{
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#mod_num{
    width: 7%;
}
#modContainer{
    width: 100%;
    padding-left: 48%;
}
.container{
    width: 100%;
}
.centrarForm{
    display: block;
    margin : 0 auto;
}
.centrarTexto{
    text-align: center;
}
.row{
    max-width: 100%;
}
#userForm{
    padding-left: 5%;
}
.formContainer{
    padding: 2%;
    padding-top: 0%;
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    border-radius: 20px;
    background-color: #ddd;
}
#interContainer{
    width: 60%;
    margin-left: 20%;
    height: auto;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 15px;
}
.homebtn{
    transition: all .2s ease-out;
    background-color: #487882;
    opacity: 90%;
    cursor: pointer;
    border-left: #000000;
    border-left-style: solid;
    border-left-width: 2px;
    border-top: #000000;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.homebtn:hover{
    transition: all .2s ease-out;
    opacity: 100%;
    background-color: #538a95;
    -webkit-box-shadow: -2px 0px 18px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 18px 2px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 18px 2px rgba(0,0,0,0.75);
}
.homebtn:hover>p{
    transition: all .2s ease-out;
    
}
.adminbtn{
    transition: all .2s ease-out;
    background-color: #c49538;
    opacity: 90%;
    cursor: pointer;
    border-right: #000000;
    border-right-style: solid;
    border-right-width: 2px;
    border-top: #000000;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.adminbtn:hover{
    transition: all .2s ease-out;
    opacity: 100%;
    background-color: #daa63f;
    -webkit-box-shadow: 2px 0px 18px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 18px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 18px 2px rgba(0,0,0,0.75);
}
.adminbtn:hover>p{
    transition: all .2s ease-out;
}
.desAdmin{
    font-size: 18px;
    text-align:center

}
